.copyContainer {
  @apply flex flex-col absolute text-white border border-white rounded p-2;
  left: 15%;
  bottom: 100px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;

  hr {
    @apply my-1;
  }
  .copyHeading {
    @apply text-base;
  }
  .copyDescription {
    @apply flex items-center text-sm;
  }
}